body {
    background-color: black;
    background-image: linear-gradient(to bottom, #051937, #444964, #808195, #bfbec8, #ffffff);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


nav {
    font-family: 'Permanent Marker', cursive;
    padding-left: 10px;
    opacity: 0.5;
}

.flashes h4 {
    line-height: 2;
}
.card{
    background: rgba( 3, 0, 0, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

