{% extends "base.html" %}
{% block content %}

<h1 class="center-align">Sourcetastic</h1>
<div class="row">
    <div class="col s12 m10 offset-m1">
      <div class="card ">
        <h2 class="center-align"> hello</h2>
        <div class="card-content">
          <p>Hey You! Welcome on board. The purpose of this application is to share YouTube learning content within our community. Once you register, you
            can add learning resources to share with other users. You will be able to view other user's content but you can only edit/delete your own content.
            The admin has special previlages and can create additional categories. If you want one adding it would need to be verified by the amdin to ensure its 
            relevancy to the community.
          </p>
        </div>
        <div class="card-action">
            <a class="btn waves-effect waves-light center-align" type="submit" name="action" href="{{ url_for('get_resources')}}">Let's Get Started!
                <i class="material-icons right">send</i>
            </a>
        </div>
      </div>
      <div class="card s12 "> 
      <h2 class="center-align">Getting Started </h2>
      <div class="card-content">
        <p>Want to know how to get started? I've gotchu. You don't have to be a registered user to view the content. If you want to 
            contribute towards the community, you'll have to register an account that's has a username/password between 5/15 characters. From here,
            you can edit and delete your own content. Please notice that you can ONLY add YouYube video's. The below details the valid format that's 
            required.</p> <br>
            <p> <i class="medium material-icons">filter_1</i>  Create an Account  </p>
            <p> <i class="medium material-icons">filter_2</i>  Click "Add Resources" </p>
            <p> <i class="medium material-icons">filter_3</i>  Enter Resource Details. Copy all details after "<em>/watch?v= </em>" and paste the URL in the required field  </p>
            <p> <i class="medium material-icons">filter_4</i>  Page will redirect to Dashboard once submitted.</p>
            <p> <i class="medium material-icons">filter_5</i>  If video is not showing up, verify that the URL matches step 3. </p>
      </div>
      </div>
    </div>
</div>
  

</div>
{% endblock %}