{% extends "base.html"%} 
{% block content %}

<h3 class="white-text text-darken-4 center-align">Dashboard</h3>
<div class="container">
    <div class="row">
        {% for resource in resources %}
        <div class="col s12 m3">
            <div class="card medium">
                <div class="card-content">
                    <div class="video-container m3">
                        <iframe width="853" height="480" src="{{resource.link}}" frameborder="0"></iframe>
                    </div>
                    <p> <strong>Name:</strong> {{resource.name}}</p>
                    <p> <strong>Category:</strong>  {{resource.category_name}}</p>
                    <p> <strong>Description:</strong>  {{resource.description}}</p>
                    <p> <strong>Created By:</strong>  <em>{{resource.created_by}} </em></p>
                </div>
                <div class="card-action center-align">
                    {% if session.user |lower == resource.created_by|lower %}
                    <a class="waves-effect waves-light btn-small center-align" href="{{ url_for('edit_resources', resource_id=resource._id)}}">Edit</a>
                    <a class="waves-effect waves-light btn-small modal-trigger" href="#modal{{ loop.index }}">Delete</a>
                    {% endif%}
                </div>
            </div>
        </div>
        <div id="modal{{ loop.index }}" class="modal center-align delete-card">
            <div class="modal-content">
                <h3>Warning</h3>
                <p>Are you Sure You Want To Delete "{{ resource.name }}"?</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
                <a href="{{ url_for('delete_resources', resource_id=resource._id) }}" class="modal-close waves-effect waves-green btn-flat center-align">Yes</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
